<!doctype html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173968290-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-173968290-1');
</script>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="#">
    <link rel="icon" href="img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <title>Case Study | Digital Wealth MB</title><!-- themeforest:css -->
    <meta property="og:title" content="Case Study | Digital Wealth MB" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="img/favicon.png" />
    <meta name="keywords" content="We help clients sky-rocket online sales through Google Ads ">
    <meta name="author" content="Digital Wealth MB">
    <link rel="canonical" href="https://www.popinpass.com" />
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/cookieconsent.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/odometer-theme-minimal.css">
    <link rel="stylesheet" href="css/prism-okaidia.css">
    <link rel="stylesheet" href="css/simplebar.css">
    <link rel="stylesheet" href="css/smart_wizard.css">
    <link rel="stylesheet" href="css/smart_wizard_theme_arrows.css">
    <link rel="stylesheet" href="css/smart_wizard_theme_circles.css">
    <link rel="stylesheet" href="css/smart_wizard_theme_dots.css">
    <link rel="stylesheet" href="css/swiper.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/rtl.css"><!-- endinject -->

</head>

<body>
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->

    <!-- Making stripe menu -->
    <nav class="st-nav navbar main-nav navigation fixed-top" id="main-nav">
        <div class="container">
            <ul class="st-nav-menu nav navbar-nav">
                <li class="st-nav-section nav-item"><a href="/" class="navbar-brand"><img src="img/logo.png" alt="popin logo" class="logo logo-sticky d-block d-md-none"> <img src="img/logo2.png" alt="line skip for bars" class="logo d-none d-md-block"></a></li>
                <li class="st-nav-section st-nav-primary nav-item"><a class="st-root-link nav-link" href="/">Home </a><a class="st-root-link item-products nav-link" href="/#features" data-dropdown="blocks">About Us </a><a class="st-root-link item-products nav-link" href="/case-study" data-dropdown="pages">Case Studies </a><a class="st-root-link item-company nav-link" href="/#team" data-dropdown="components">Team</a>
                  <a class="st-root-link item-company nav-link" href="/#contact" data-dropdown="components">Contact</a></li>
                <li class="st-nav-section st-nav-secondary nav-item"><a class="btn btn-rounded shadow-warning btn-solid px-3" href="/#contact"><i class="fas fa-envelope d-none d-md-inline mr-md-0 mr-lg-2"></i> <span class="d-md-none d-lg-inline">Get Started</span></a></li><!-- Mobile Navigation -->
                <li class="st-nav-section st-nav-mobile nav-item"><button class="st-root-link navbar-toggler" type="button"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                    <div class="st-popup">
                        <div class="st-popup-container"><a class="st-popup-close-button">Close</a>
                            <div class="st-dropdown-content-group">
                                <h4 class="text-uppercase regular">Digital Wealth MB</h4><a class="regular text-secondary" href="/"><i class="fa fa-home mr-2"></i> Home </a><a class="regular text-secondary" href="/#features"><i class="fa fa-trophy mr-2"></i> About Us </a><a class="regular text-secondary" href="/case-study"><i class="fa fa-eye mr-2"></i> Case Studies</a>
                                <a class="regular text-secondary" href="/#team"><i class="fas fa-question-circle mr-2"></i> Team</a> <a class="regular text-secondary" href="/#contact"><i class="fas fa-envelope mr-2"></i> Contact</a>
                            </div>
                            <div class="st-dropdown-content-group bg-light b-t"><a class="text-primary" href="/#contact">Get Started <i class="fas fa-envelope"></i></a></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="st-dropdown-root">
    <div class="st-dropdown-bg">
        <div class="st-alt-bg"></div>
    </div>
    <div class="st-dropdown-arrow"></div>
    <div class="st-dropdown-container">
        <div class="st-dropdown-section" data-dropdown="blocks">
            <div class="st-dropdown-content">
                <div class="st-dropdown-content-group">
                </div>
            </div>
        </div>
        <div class="st-dropdown-section" data-dropdown="components">
            <div class="st-dropdown-content">
                <div class="st-dropdown-content-group"><a class="dropdown-item" target="_blank">
                </div>
                <div class="st-dropdown-content-group"><a class="dropdown-item" target="_blank">Wizard <span class="badge badge-pill badge-primary">New</span></a> <span class="dropdown-item d-flex align-items-center text-muted">Timeline <i class="fas fa-ban ml-auto"></i></span> <span class="dropdown-item d-flex align-items-center text-muted">Process <i class="fas fa-ban ml-auto"></i></span></div>
            </div>
        </div>
    </div>
</div>
    </nav>
    <main>
        <!-- ./Page header -->
        <header class="header section overlay gradient gradient-purple-dark alpha-6 text-contrast image-background cover" style="background-image: url(img/space2.jpg)">

            <div class="container" style="">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="regular display-4 text-contrast mb-4">Case Studies</h1>
                        <p class="lead text-contrast">Checkout some of our client results to see if this is a right fit for your business</p>
                    </div>
                </div>
            </div>
        </header><!-- ./Pricing cards -->
        <section class="seection bg-contrast" id="how">
            <div class="container bring-to-front text-center" style="padding-bottom:50px;">
              <div class="section-heading text-center" style="margin-bottom:35px;">
                  <h2 style="font-weight:bold;">Watch Video</h2>
                  <p class="lead"><strong>Case Study:</strong> $540,000 to $855,000 in 90 Days</p>
              </div>
                <div class="card shadow-lg">
                          <iframe width="100%" height="500px" src="https://www.youtube.com/embed/fzFU_s5Ev04" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <a href="/#contact" class="btn btn-outline-primary btn-outline mt-4" style="font-size:1.2rem; width:80%; text-align:center; font-weight:bold;">Schedule a call with us</a>
            </div>
        </section>

        <section class="partners shadow">
            <div class="container-fluid py-0">
                <div class="row align-items-center gradient gradient-purple-navy text-contrast">
                  <div class="container py-5 b-b">
                    <p class="rounded-pill py-2 px-4 text-uppercase mb-0 badge badge-contrast" style="margin-bottom:20px!important;">Brands We've Worked With</p>
                    <p class="font-md bold mt-1 text-contrast" style="margin-bottom:40px!important;">Helping $83k+/M Ecommerce Brands Aggressively Scale Into $300k/M Behemoths Time & Time Again with Predictability via Google Ads.</p>
                      <div class="swiper-container" data-sw-show-items="5" data-sw-space-between="30" data-sw-autoplay="2500" data-sw-loop="true" style="margin-bottom:20px!important;">
                          <div class="swiper-wrapper align-items-center">
                              <div class="swiper-slide"><img src="img/logos/1.png" class="img-responsive" alt="" style="max-height: 60px"></div>
                              <div class="swiper-slide"><img src="img/logos/2.png" class="img-responsive" alt="" style="max-height: 60px"></div>
                              <div class="swiper-slide"><img src="img/logos/3.png" class="img-responsive" alt="" style="max-height: 60px"></div>
                              <div class="swiper-slide"><img src="img/logos/5.png" class="img-responsive" alt="" style="max-height: 60px"></div>
                              <div class="swiper-slide"><img src="img/logos/6.png" class="img-responsive" alt="" style="max-height: 60px"></div>
                              <div class="swiper-slide"><img src="img/logos/7.png" class="img-responsive" alt="" style="max-height: 60px"></div>
                          </div>
                      </div>
                </div>
            </div>
        </section>

        <section class="section" id="how">
            <div class="container">
                <div class="section-heading text-center">
                    <h2 class="bold">Our Client Results</h2>
                </div>
                <nav class="slide nav nav-tabs nav-outlined nav-rounded justify-content-around justify-content-md-center mb-5"><a class="nav-item nav-link active" data-toggle="tab" href="#dashboard-tab">Results #1</a> <a class="nav-item nav-link" data-toggle="tab" href="#tasks-tab">Results #2</a> <a class="nav-item nav-link" data-toggle="tab" href="#calendar-tab">Results #3</a> <a class="nav-item nav-link" data-toggle="tab" href="#inbox-tab">Results #4</a></nav>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="dashboard-tab">
                        <div class="row gap-y align-items-center">
                            <div class="col-md-6 mr-md-auto">
                                <div class="browser shadow" data-aos="fade-right"><img src="img/screens/app/1.jpeg" class="img-responsive" alt=""></div>
                            </div>
                            <div class="col-md-5">
                                <p class="rounded-pill py-2 px-4 bold badge badge-info">Spend: $103k | Return: 320k | ROI: 309%</p>
                                <h2 class="display-4 light">Everie Woman™</h2>
                                <p>With no google ads running, this brand had a ton of room to grow. The idea was to bring in an extra 20-30% of revenue from google while remaining graciously profitable. From no revenue coming from google to over $325,000 in 8 months. </p>
                                <!-- <hr class="mt-5">
                                <p class="small text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur atque dolor dolorem ea esse expedita hic iste laboriosam libero nihil nostrum obcaecati, odio qui reprehenderit sint vel veniam voluptatibus.</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tasks-tab">
                        <div class="row gap-y align-items-center">
                            <div class="col-md-6 order-md-2 ml-md-auto">
                                <div class="browser shadow" data-aos="fade-left"><img src="img/screens/app/2.jpeg" alt="" class="img-responsive"></div>
                            </div>
                            <div class="col-md-5 mr-md-auto">
                              <p class="rounded-pill py-2 px-4 bold badge badge-info">Spend: $128k | Return: 863k | ROI: 674%</p>
                                <h2 class="display-4 light">*Private Client</h2>
                                <p>A more recent client of ours left their old agency to try Digital Wealth MB. The first month we increased their revenue from 106k to 177k. We are constantly split testing new things in this account and have high hopes for the future.</p>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="calendar-tab">
                        <div class="row gap-y align-items-center">
                            <div class="col-md-6 mr-md-auto">
                                <div class="browser shadow-box" data-aos="fade-right"><img src="img/screens/app/3.jpeg" alt="" class="img-responsive"></div>
                            </div>
                            <div class="col-md-5">
                              <p class="rounded-pill py-2 px-4 bold badge badge-info">Spend: $74.9k | Return: 269k | ROI: 359%</p>
                                <h2 class="display-4 light">SpineDeck™</h2>
                                <p>A brand that was originally mistracking conversions and only generating about 30% of what they could from google ads. We fixed the tracking and scaled cautiously. SpineDeck® is the 3rd client we ever signed and they are still with us today. </p>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="inbox-tab">
                        <div class="row gap-y align-items-center">
                            <div class="col-md-6 order-md-2 ml-md-auto">
                                <div class="browser shadow" data-aos="fade-left"><img src="img/screens/app/7.png" alt="" class="img-responsive"></div>
                            </div>
                            <div class="col-md-5">
                              <p class="rounded-pill py-2 px-4 bold badge badge-info">Prior ROI: 807% | New ROI: 1440%</p>
                                <h2 class="display-4 light">VEA®</h2>
                                <p>Originally with a 8.07 roas, VEA® came to us to audit their account. After 30 days the VEA® google account had an average roas of 14.44. By removing unnecessary spend, we were able to double their roas and maintain conversions. </p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <footer class="site-footer section bg-light" id="contact">
            <div class="container pb-3">
                <div class="row gap-y text-center text-md-left">
                    <div class="col-md-4 mr-auto"><img src="img/logo.png" alt="" class="logo">
                        <p class="mt-3 text-muted" style="color:#868e96!important;">Contact Us: <a href="mailto:info@digitalwealthmb.com "> info@digitalwealthmb.com </a></p>
                        <p>You always profit first.</p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="py-2 bold">Company</h6>
                        <nav class="nav flex-column"><a class="nav-item py-2" href="/">Home</a> <a class="nav-item py-2" href="/#features">About Us</a> <a class="nav-item py-2" href="/case-study">Case Studies</a><a class="nav-item py-2" href="/#team">Team</a> <a class="nav-item py-2" href="/#contact">Contact</a></nav>
                    </div>
                    <!-- <div class="col-md-2">
                        <h6 class="py-2 bold">Legal</h6>
                        <nav class="nav flex-column"><a class="nav-item py-2" href="https://app.popinpass.com/Pop-In%20LLC_Terms_and_Conditions.pdf">Terms & Conditions</a><a class="nav-item py-2" href="https://app.popinpass.com/Pop-In_LLC_Privacy_Policy.pdf">Privacy Policy</a>
                    </div> -->
                </div>
                <hr class="mt-5">
                <div class="row small align-items-center">
                    <div class="col-md-4">
                        <p class="mt-2 mb-md-0 text-secondary text-center text-md-left">© 2021 Digital Wealth MB LLC. All Rights Reserved</p>
                    </div>
                    <div class="col-md-8">
                        <nav class="nav justify-content-center justify-content-md-end"><a href="https://www.facebook.com/digitalwealthmb" class="btn btn-circle btn-sm btn-secondary mr-3 op-4"><i class="fab fa-facebook"></i></a>  <a href="https://www.instagram.com/digitalwealthmb/" class="btn btn-circle btn-sm btn-secondary op-4"><i class="fab fa-instagram"></i></a></nav>
                    </div>
                </div>
            </div>
        </footer>
    </main><!-- themeforest:js -->
    <script src="js/01.cookie-consent-util.js"></script>
    <script src="js/02.1.cookie-consent-themes.js"></script>
    <script src="js/02.2.cookie-consent-custom-css.js"></script>
    <script src="js/02.3.cookie-consent-informational.js"></script>
    <script src="js/02.4.cookie-consent-opt-out.js"></script>
    <script src="js/02.5.cookie-consent-opt-in.js"></script>
    <script src="js/02.6.cookie-consent-location.js"></script>
    <script src="js/index.js"></script>
    <script src="js/noframework.waypoints.js"></script>
    <script src="js/odometer.min.js"></script>
    <script src="js/prism.js"></script>
    <script src="js/simplebar.js"></script>
    <script src="js/swiper.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="js/jquery.smartWizard.js"></script>
    <script src="js/plugins/jquery.animatebar.js"></script>
    <script src="js/feather.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/typed.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/cookieconsent.min.js"></script>
    <script src="js/counterup2.js"></script>
    <script src="js/common-script.js"></script>
    <script src="js/forms.js"></script>
    <script src="js/stripe-bubbles.js"></script>
    <script src="js/stripe-menu.js"></script>
    <script src="js/site.js"></script>
    <script src="js/03.demo.js"></script><!-- endinject -->
</body>

</html>
