<!doctype html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173968290-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-173968290-1');
</script>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="description" content="We Help Our E-commerce Clients Sky-Rocket Past $5M/YR via Google Advertising We don’t charge our clients a single cent until we deliver profitable results">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="#">
    <link rel="icon" href="img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <title>Digital Wealth MB | Google Advertising | Growth Agency</title><!-- themeforest:css -->
    <meta property="og:title" content="Digital Wealth MB | Growth Agency" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="img/favicon.png" />
    <meta name="keywords" content="We help clients sky-rocket online sales through Google Ads ">
    <meta name="author" content="Digital Wealth MB">
    <link rel="canonical" href="https://www.popinpass.com" />
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/cookieconsent.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/odometer-theme-minimal.css">
    <link rel="stylesheet" href="css/prism-okaidia.css">
    <link rel="stylesheet" href="css/simplebar.css">
    <link rel="stylesheet" href="css/smart_wizard.css">
    <link rel="stylesheet" href="css/smart_wizard_theme_arrows.css">
    <link rel="stylesheet" href="css/smart_wizard_theme_circles.css">
    <link rel="stylesheet" href="css/smart_wizard_theme_dots.css">
    <link rel="stylesheet" href="css/swiper.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/rtl.css"><!-- endinject -->

</head>

<body>
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->

    <!-- Making stripe menu -->
    <nav class="st-nav navbar main-nav navigation fixed-top" id="main-nav">
        <div class="container">
            <ul class="st-nav-menu nav navbar-nav">
                <li class="st-nav-section nav-item"><a href="/" class="navbar-brand"><img src="img/logo.png" alt="popin logo" class="logo logo-sticky d-block d-md-none"> <img src="img/logo2.png" alt="line skip for bars" class="logo d-none d-md-block"></a></li>
                <li class="st-nav-section st-nav-primary nav-item"><a class="st-root-link nav-link" href="/">Home </a><a class="st-root-link item-products nav-link" href="#features" data-dropdown="blocks">About Us </a><a class="st-root-link item-products nav-link" href="/case-study" data-dropdown="pages">Case Studies </a><a class="st-root-link item-company nav-link" href="#team" data-dropdown="components">Team</a>
                  <a class="st-root-link item-company nav-link" href="#contact" data-dropdown="components">Contact</a></li>
                <li class="st-nav-section st-nav-secondary nav-item"><a class="btn btn-rounded shadow-warning btn-solid px-3" href="#contact"><i class="fas fa-envelope d-none d-md-inline mr-md-0 mr-lg-2"></i> <span class="d-md-none d-lg-inline">Get Started</span></a></li><!-- Mobile Navigation -->
                <li class="st-nav-section st-nav-mobile nav-item"><button class="st-root-link navbar-toggler" type="button"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                    <div class="st-popup">
                        <div class="st-popup-container"><a class="st-popup-close-button">Close</a>
                            <div class="st-dropdown-content-group">
                                <h4 class="text-uppercase regular">Digital Wealth MB</h4><a class="regular text-secondary" href="/"><i class="fa fa-home mr-2"></i> Home </a><a class="regular text-secondary" href="#features"><i class="fa fa-trophy mr-2"></i> About Us </a><a class="regular text-secondary" href="/case-study"><i class="fa fa-eye mr-2"></i> Case Studies</a>
                                <a class="regular text-secondary" href="#team"><i class="fas fa-question-circle mr-2"></i> Team</a> <a class="regular text-secondary" href="#contact"><i class="fas fa-envelope mr-2"></i> Contact</a>
                            </div>
                            <div class="st-dropdown-content-group bg-light b-t"><a class="text-primary" href="#contact">Get Started <i class="fas fa-envelope"></i></a></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="st-dropdown-root">
    <div class="st-dropdown-bg">
        <div class="st-alt-bg"></div>
    </div>
    <div class="st-dropdown-arrow"></div>
    <div class="st-dropdown-container">
        <div class="st-dropdown-section" data-dropdown="blocks">
            <div class="st-dropdown-content">
                <div class="st-dropdown-content-group">
                </div>
            </div>
        </div>
        <div class="st-dropdown-section" data-dropdown="components">
            <div class="st-dropdown-content">
                <div class="st-dropdown-content-group"><a class="dropdown-item" target="_blank">
                </div>
                <div class="st-dropdown-content-group"><a class="dropdown-item" target="_blank">Wizard <span class="badge badge-pill badge-primary">New</span></a> <span class="dropdown-item d-flex align-items-center text-muted">Timeline <i class="fas fa-ban ml-auto"></i></span> <span class="dropdown-item d-flex align-items-center text-muted">Process <i class="fas fa-ban ml-auto"></i></span></div>
            </div>
        </div>
    </div>
</div>
    </nav>
    <main>
        <!-- ./Page header -->
        <header class="header section overlay gradient gradient-purple-dark alpha-6 text-contrast image-background cover" style="background-image: url(img/space2.jpg)">
            <div class="divider-shape">
                <!-- waves divider --> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" class="shape-waves" style="left: 0; transform: rotate3d(0,1,0,180deg);">
                    <path class="shape-fill shape-fill-contrast" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z" /></svg></div>
            <div class="container-fluid">
                <div class="row gap-y align-items-center">
                    <div class="col-lg-5 mx-auto text-center text-lg-left">
                      <p class="text-contrast text-uppercase bold">Increase Your Profitability Overnight</p>
                        <h1 class="light display-4 text-contrast">Take Online Sales to a New Level Instantly <span class="bold d-block">Via Google Ads</span></h1>
                        <p class="text-contrast lead my-5">After the Testing Phase of our strategy, we don't charge a single cent. We are a 100% performance based agency.</p><p class="handwritten font-md highlight px-1" style="margin-bottom:30px!important; transform:rotate(-2deg);">Free Google Ads Strategy For Your Business.</p><a href="#contact" class="btn btn-contrast btn-lg btn-rounded bold px-5 bw-2 border-primary">Book Now</a><a href="/case-study" class="btn btn-contrast btn-lg btn-rounded bold px-5 bw-2 border-white" style="background-color: #ffffff00; color:white; margin-left:10px;">Case Studies</a>
                    </div>
                    <div class="col-md-6 col-lg-5 ml-lg-auto">
                        <div data-aos="fade-left">
                                <div class="screen"><img src="img/main1.png" class="img-responsive" alt="pop-in fast pass"></div>
                                <div class="notch"></div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-6 col-md-9 mx-md-auto mx-lg-0 pr-lg-0">
                        <div class="device-twin align-items-center mt-4 mt-lg-0">
                            <div class="browser shadow" data-aos="fade-left"><img src="img/dash.png" alt="..."></div>
                            <div class="front iphone-x absolute d-none d-lg-block" data-aos="fade-right" style="left: -5.5rem; bottom: -3.5rem;">
                                <div class="screen"><img src="img/mobile1.png" alt="..."></div>
                                <div class="notch"></div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </header><!-- ./Features - grid -->

        <section class="section path-success" id="features">
            <div class="shape-wrapper">
                <div class="shape-ring absolute right top" data-aos="fade-up"></div>
            </div>
            <div class="container bring-to-front">
                <div class="row gap-y align-items-center text-center">
                  <div class="section-heading mb-6 text-center" style="margin-bottom:60px!important">
                      <h2 class="mt-3 bold">Your Profits Always Come First</h2>
                      <p class="regular" style="padding-right:40px; padding-left:40px;">Here at Digital Wealth we gurantee zero risk and are a performance based agency. Simply put, at the end of the day we only make money if you do.</p>
                  </div>
                  <div class="col-md-6">
                      <figure data-aos="fade-right"><img src="img/profit1.png" class="img-responsive w-100" alt=""></figure>
                  </div>
                    <div class="col-md-6">
                        <!-- <div class="icon-xxl mb-4">
                            <div class="icon-shape"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 219.98 213.35" class="shape shape-xxl drop-shadow">
                                    <defs>
                                        <style>
                                            .cls-shape {
                                                fill: #1fa2ff;
                                            }
                                        </style>
                                    </defs>
                                    <title>shape-4</title>
                                    <g id="layer_1" data-name="layer_1">
                                        <g id="OBJECTS">
                                            <path class="cls-shape" d="M92.2.36c58.51-4,85.65,25.71,100.68,65.52s37.29,53.51,21.92,99.33-70.9,51.88-92.59,46.52S78,192.49,51,182.07C10.79,166.56.86,146.16.06,126.06-1.07,97.63,13.92,94.45,18.73,63.28,24.51,25.93,46.43,3.47,92.2.36Z" />
                                        </g>
                                    </g>
                                </svg> <i class="icon fas fa-2x fa-user center-xy text-contrast"></i></div>
                        </div> -->
                        <h2 class="bold text-capitalize" style="text-align:center;">Guaranteed Results</h2>
                        <p class="regular" style="text-align:center;">We eliminate the risky side of advertising for our clients by guaranteeing results, meaning after the testing phase of our strategy, we don't charge a single cent. Our team of wizards religiously focuses on investing $1 to get $3 , $5 , $7, $10 back. In a nutshell, there’s no downside and we look for a very specific type of client. </p><p class="regular"><strong>Maybe that’s you: let’s chat and find out. Schedule your FREE discovery call below.</strong></p>
                        <a href="#contact" class="btn btn-primary btn-rounded mt-4">Book A Call</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="team" class="section">
            <div class="container">
                <div class="section-heading mb-6 text-center" style="margin-bottom:30px!important;">
                    <h2 class="bold">Meet Our Team</h2>
                    <p class="regular" style="padding-right:40px; padding-left:40px;">Here at Digital Wealth our team is fully dedicated to your success</p>
                </div>
                <div class="row gap-y text-center text-md-left">
                    <div class="col-md-4 py-4 rounded shadow-hover"><img src="img/image3.png" class="img-responsive px-2 px-sm-4 px-md-2 px-lg-1" alt="..." style="border-radius:10px;">
                        <h5 class="bold mt-3">Sebastian Ghiorghiu</h5>
                        <p class="">Founder & CEO </p>
                    </div>
                    <div class="col-md-4 py-4 rounded shadow-hover"><img src="img/image4.jpg" class="img-responsive px-2 px-sm-4 px-md-2 px-lg-1" alt="..." style="border-radius:10px;">
                        <h5 class="bold mt-3">Nate Schneider</h5>
                        <p class="">Marketing Account Manager</p>
                    </div>
                    <div class="col-md-4 py-4 rounded shadow-hover"><img src="img/image2.png" class="img-responsive px-2 px-sm-4 px-md-2 px-lg-1" alt="..." style="border-radius:10px;">
                        <h5 class="bold mt-3">Chris Reinhardt</h5>
                        <p class="">Finance & Operations Manager</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="partners shadow">
            <div class="container-fluid py-0">
                <div class="row align-items-center gradient gradient-purple-navy text-contrast">
                  <div class="container py-5 b-b">
                    <p class="rounded-pill py-2 px-4 text-uppercase mb-0 badge badge-contrast" style="margin-bottom:20px!important;">Brands We've Worked With</p>
                    <p class="font-md bold mt-1 text-contrast" style="margin-bottom:40px!important;">Helping $83k+/M Ecommerce Brands Aggressively Scale Into $300k/M Behemoths Time & Time Again with Predictability via Google Ads.</p>
                      <div class="swiper-container" data-sw-show-items="5" data-sw-space-between="30" data-sw-autoplay="2500" data-sw-loop="true" style="margin-bottom:20px!important;">
                          <div class="swiper-wrapper align-items-center">
                              <div class="swiper-slide"><img src="img/logos/1.png" class="img-responsive" alt="" style="max-height: 60px"></div>
                              <div class="swiper-slide"><img src="img/logos/2.png" class="img-responsive" alt="" style="max-height: 60px"></div>
                              <div class="swiper-slide"><img src="img/logos/3.png" class="img-responsive" alt="" style="max-height: 60px"></div>
                              <div class="swiper-slide"><img src="img/logos/5.png" class="img-responsive" alt="" style="max-height: 60px"></div>
                              <div class="swiper-slide"><img src="img/logos/6.png" class="img-responsive" alt="" style="max-height: 60px"></div>
                              <div class="swiper-slide"><img src="img/logos/7.png" class="img-responsive" alt="" style="max-height: 60px"></div>
                          </div>
                      </div>
                </div>
            </div>
        </section>

        <!-- <section class="section">
            <div class="shape-wrapper">
                <div class="shape shape-background shape-right"></div>
                <div class="shape shape-background top shape-left bg-info op-1"></div>
            </div>
            <div class="container pb-1">
                <div class="row gap-y align-items-center py-5">
                    <div class="col-md-6">
                        <figure data-aos="fade-right"><img src="img/mockup.png" class="img-responsive w-100" alt=""></figure>
                    </div>
                    <div class="col-md-6"> -->
                        <!-- <div class="icon-xxl mb-4">
                            <div class="icon-shape"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 219.98 213.35" class="shape shape-xxl drop-shadow">
                                    <defs>
                                        <style>
                                            .cls-shape {
                                                fill: #1fa2ff;
                                            }
                                        </style>
                                    </defs>
                                    <title>shape-4</title>
                                    <g id="layer_1" data-name="layer_1">
                                        <g id="OBJECTS">
                                            <path class="cls-shape" d="M92.2.36c58.51-4,85.65,25.71,100.68,65.52s37.29,53.51,21.92,99.33-70.9,51.88-92.59,46.52S78,192.49,51,182.07C10.79,166.56.86,146.16.06,126.06-1.07,97.63,13.92,94.45,18.73,63.28,24.51,25.93,46.43,3.47,92.2.36Z" />
                                        </g>
                                    </g>
                                </svg> <i class="icon fas fa-2x fa-user center-xy text-contrast"></i></div>
                        </div> -->
                        <!-- <h2 class="bold text-capitalize" style="text-align:center;">White Label under your brand</h2>
                        <p class="regular" style="text-align:center;">We operate completely within your existing brand meaning your logo and branding will be visible to your customers.  The Pop-In service will look like your venues own system, with your logo on the custom sign and pass purchase page. </p>
                    </div>
                </div>
            </div>
        </section> -->
        <section class="section" id="how">
            <div class="container">
                <div class="section-heading text-center">
                    <h2 class="bold">Our Client Results</h2>
                </div>
                <nav class="slide nav nav-tabs nav-outlined nav-rounded justify-content-around justify-content-md-center mb-5"><a class="nav-item nav-link active" data-toggle="tab" href="#dashboard-tab">Results #1</a> <a class="nav-item nav-link" data-toggle="tab" href="#tasks-tab">Results #2</a> <a class="nav-item nav-link" data-toggle="tab" href="#calendar-tab">Results #3</a> <a class="nav-item nav-link" data-toggle="tab" href="#inbox-tab">Results #4</a></nav>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="dashboard-tab">
                        <div class="row gap-y align-items-center">
                            <div class="col-md-6 mr-md-auto">
                                <div class="browser shadow" data-aos="fade-right"><img src="img/screens/app/1.jpeg" class="img-responsive" alt=""></div>
                            </div>
                            <div class="col-md-5">
                                <p class="rounded-pill py-2 px-4 bold badge badge-info">Spend: $103k | Return: 320k | ROI: 309%</p>
                                <h2 class="display-4 light">Everie Woman™</h2>
                                <p>With no google ads running, this brand had a ton of room to grow. The idea was to bring in an extra 20-30% of revenue from google while remaining graciously profitable. From no revenue coming from google to over $325,000 in 8 months. </p>
                                <!-- <hr class="mt-5">
                                <p class="small text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur atque dolor dolorem ea esse expedita hic iste laboriosam libero nihil nostrum obcaecati, odio qui reprehenderit sint vel veniam voluptatibus.</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tasks-tab">
                        <div class="row gap-y align-items-center">
                            <div class="col-md-6 order-md-2 ml-md-auto">
                                <div class="browser shadow" data-aos="fade-left"><img src="img/screens/app/2.jpeg" alt="" class="img-responsive"></div>
                            </div>
                            <div class="col-md-5 mr-md-auto">
                              <p class="rounded-pill py-2 px-4 bold badge badge-info">Spend: $128k | Return: 863k | ROI: 674%</p>
                                <h2 class="display-4 light">*Private Client</h2>
                                <p>A more recent client of ours left their old agency to try Digital Wealth MB. The first month we increased their revenue from 106k to 177k. We are constantly split testing new things in this account and have high hopes for the future.</p>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="calendar-tab">
                        <div class="row gap-y align-items-center">
                            <div class="col-md-6 mr-md-auto">
                                <div class="browser shadow-box" data-aos="fade-right"><img src="img/screens/app/3.jpeg" alt="" class="img-responsive"></div>
                            </div>
                            <div class="col-md-5">
                              <p class="rounded-pill py-2 px-4 bold badge badge-info">Spend: $74.9k | Return: 269k | ROI: 359%</p>
                                <h2 class="display-4 light">SpineDeck™</h2>
                                <p>A brand that was originally mistracking conversions and only generating about 30% of what they could from google ads. We fixed the tracking and scaled cautiously. SpineDeck® is the 3rd client we ever signed and they are still with us today. </p>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="inbox-tab">
                        <div class="row gap-y align-items-center">
                            <div class="col-md-6 order-md-2 ml-md-auto">
                                <div class="browser shadow" data-aos="fade-left"><img src="img/screens/app/7.png" alt="" class="img-responsive"></div>
                            </div>
                            <div class="col-md-5">
                              <p class="rounded-pill py-2 px-4 bold badge badge-info">Prior ROI: 807% | New ROI: 1440%</p>
                                <h2 class="display-4 light">VEA®</h2>
                                <p>Originally with a 8.07 roas, VEA® came to us to audit their account. After 30 days the VEA® google account had an average roas of 14.44. By removing unnecessary spend, we were able to double their roas and maintain conversions. </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid shadow py-4 rounded mt-1" style="background:#6d46cf;">
                    <div class="row gap-y">
                        <div class="col-xs-3 col-md-3 col-3 px-lg-5 py-lg-4"><img src="img/logos/10.png" class="img-responsive px-2 px-sm-4 px-md-2 px-lg-1" alt="..."></div>
                        <div class="col-xs-3 col-md-3 col-3 px-lg-5 py-lg-4"><img src="img/logos/11.png" class="img-responsive px-2 px-sm-4 px-md-2 px-lg-1" alt="..."></div>
                        <div class="col-xs-3 col-md-3 col-3 px-lg-5 py-lg-4"><img src="img/logos/12.png" class="img-responsive px-2 px-sm-4 px-md-2 px-lg-1" alt="..."></div>
                        <div class="col-xs-3 col-md-3 col-3 px-lg-5 py-lg-4"><img src="img/logos/13.png" class="img-responsive px-2 px-sm-4 px-md-2 px-lg-1" alt="..."></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section counters gradient gradient-purple-navy text-contrast shadow-lg">
            <div class="container pb-9">
                <div class="section-heading text-center">
                    <h2 class="text-contrast">Revenue Generated</h2>
                    <p>Over <strong>$10+ Million Dollars</strong> Generated for our clients through Google Advertising.</p>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-3 text-center"><i data-feather="award" width="36" height="36"></i>
                        <p class="counter bold font-md mt-0">47</p>
                        <p class="m-0">Clients Helped</p>
                    </div>
                    <div class="col-xs-4 col-md-3 text-center"><i data-feather="dollar-sign" width="36" height="36"></i>
                        <p class="counter bold font-md mt-0">$1.48M</p>
                        <p class="m-0">Total Ad Spend</p>
                    </div>
                    <div class="col-xs-4 col-md-3 text-center"><i data-feather="users" width="36" height="36"></i>
                        <p class="counter bold font-md mt-0">5</p>
                        <p class="m-0">Team Members</p>
                    </div>
                    <div class="col-xs-4 col-md-3 text-center"><i data-feather="briefcase" width="36" height="36"></i>
                        <p class="counter bold font-md mt-0">$136M</p>
                        <p class="m-0">Collective Brand Value</p>
                    </div>
                </div>
            </div>
        </section>


        <section class="section edge bottom-right" style="margin-top:30px;">
            <div class="container" style="padding-top:0px;">
                <!-- <div class="row gap-y text-center text-md-left">
                    <div class="col-md-4 py-4 rounded shadow-hover"><i data-feather="dollar-sign" width="36" height="36" class="text-primary mb-2"></i>
                        <h5 class="bold">New Revenue Stream</h5>
                        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolores ea fugiat nesciunt quisquam. Assumenda dolore error nulla pariatur voluptatem?</p>
                    </div>
                    <div class="col-md-4 py-4 rounded shadow-hover"><i data-feather="check-circle" width="36" height="36" class="text-primary mb-2"></i>
                        <h5 class="bold">Completely Free & Easy</h5>
                        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolores ea fugiat nesciunt quisquam. Assumenda dolore error nulla pariatur voluptatem?</p>
                    </div>
                    <div class="col-md-4 py-4 rounded shadow-hover"><i data-feather="trending-up" width="36" height="36" class="text-primary mb-2"></i>
                        <h5 class="bold">Improve Customer Quality</h5>
                        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolores ea fugiat nesciunt quisquam. Assumenda dolore error nulla pariatur voluptatem?</p>
                    </div>
                </div> -->
                <div class="bg-light shadow rounded p-5">
                <div class="row gap-y">
                    <div class="col-md-4">
                        <div class="rounded gradient gradient-purple-dark icon-xl shadow d-flex align-items-center justify-content-center mr-3"><i data-feather="book-open" width="36" height="36" class="stroke-contrast"></i></div>
                        <h4 class="semi-bold mt-4 text-capitalize">About Us</h4>
                        <hr class="w-25 bw-2 border-muted mt-3 mb-4">
                        <p class="regular"> Digital Wealth MB was founded by Sebastian Ghiorghiu, who’s spent the last 5 years vigorously building and scaling ecommerce brands time & time again.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="rounded gradient gradient-purple-dark icon-xl shadow d-flex align-items-center justify-content-center mr-3"><i data-feather="dollar-sign" width="36" height="36" class="stroke-contrast"></i></div>
                        <h4 class="semi-bold mt-4 text-capitalize">Scaling Brands</h4>
                        <hr class="w-25 bw-2 border-muted mt-3 mb-4">
                        <p class="regular">After building an average retention rate of 8-16 months per client. It’s pretty obvious we’re earning loads of $ for our clients. We have the know-how to get your business from where it is today to the hundreds of thousands per month.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="rounded gradient gradient-purple-dark icon-xl shadow d-flex align-items-center justify-content-center mr-3"><i data-feather="trending-up" width="36" height="36" class="stroke-contrast"></i></div>
                        <h4 class="semi-bold mt-4 text-capitalize">Statistics</h4>
                        <hr class="w-25 bw-2 border-muted mt-3 mb-4">
                        <p class="regular">100% of our clients are profitable. On average, our clients become profitable within the first 72 hours of their first campaign.</p>
                    </div>
                </div>
              </div>
            </div>
        </section>

        <section class="section gradient gradient-purple-navy">
          <div class="container text-center pb-7 pb-md-0">
              <div class="section-heading" style="margin-bottom:20px;">
                  <h2 class="bold text-contrast">Why Choose Us?</h2>
                  <!-- <p class="lead text-light">Subheadline goes here to explain mission statement and why your customer should choose you over another agency.</p> -->
              </div>
          </div>
      </section>
      <section class="section mt-9n">
          <div class="container">
              <div class="row gap-y">
                  <div class="col-md-6">
                      <div class="rounded media bg-contrast shadow-lg p-4">
                          <div class="shadow text-contrast rounded-circle mr-3 p-3 icon-xl d-flex align-items-center" style="background:#6d46cf;"data-aos="zoom-in"><i data-feather="key" width="36" height="36" class="strock-contrast"></i></div>
                          <div class="media-body">
                              <h5 class="bold text-capitalize">Our Guarantee</h5>
                              <p class="text-secondary mb-0">Remember: You do not pay a single cent until we deliver profitable results. This is something that not many agencies can offer because they cannot deliver profitable results consistently and at scale. This also works because we have an ideal client that we know we can bring value too.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="rounded media bg-contrast shadow-lg p-4">
                          <div class="shadow text-contrast rounded-circle mr-3 p-3 icon-xl d-flex align-items-center" style="background:#6d46cf;" data-aos="zoom-in"><i data-feather="award" width="36" height="36" class="strock-contrast"></i></div>
                          <div class="media-body">
                              <h5 class="bold text-capitalize">Long Term</h5>
                              <p class="text-secondary mb-0">We are very selective in the clients we work with so that we KNOW value can be added to your business when we partner. We always aim to stand by you and legitimately help you grow your business.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

        <section id="about" class="section why-us overflow-hidden">
            <div class="container" style="padding-top:10px;">
                <div class="section-heading text-center">
                    <h2 class="bold">Who Is This For?</h2>
                    <!-- <p class="lead text-secondary">Add subheading here to explain mission or overview of section</p> -->
                </div>
                <div class="row gap-y">
                    <div class="col-md-5">
                        <ul class="list-unstyled why-icon-list">
                            <li class="list-item">
                                <div class="media">
                                    <div class="rounded-circle bg-info shadow-warning text-contrast p-3 icon-xl d-flex align-items-center justify-content-center mr-3"><i data-feather="award" width="36" height="36" class="cloud"></i></div>
                                    <div class="media-body">
                                        <h5 class="bold">Need Reliability</h5>
                                        <p class="my-0">Founders looking for a reliable agency that can make their company a priority, and break past their false beliefs.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-item">
                                <div class="media">
                                    <div class="rounded-circle bg-success shadow-warning text-contrast p-3 icon-xl d-flex align-items-center justify-content-center mr-3"><i data-feather="activity" width="36" height="36" class="dollar-sign"></i></div>
                                    <div class="media-body">
                                        <h5 class="bold">Minimize Risk</h5>
                                        <p class="my-0">Founders that are tired of working with agencies that promise the world and deliver nothing.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-item">
                                <div class="media">
                                    <div class="rounded-circle bg-alternate shadow-warning text-contrast p-3 icon-xl d-flex align-items-center justify-content-center mr-3"><i data-feather="trending-up" width="36" height="36" class="thumbs-up"></i></div>
                                    <div class="media-body">
                                        <h5 class="bold">Want to Scale</h5>
                                        <p class="my-0">Founders who are deeply seeking to become the industry leader and flatten competition.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-item">
                                <div class="media">
                                    <div class="rounded-circle bg-danger shadow-warning text-contrast p-3 icon-xl d-flex align-items-center justify-content-center mr-3"><i data-feather="alert-triangle" width="36" height="36" class="pie-chart"></i></div>
                                    <div class="media-body">
                                        <h5 class="bold">Feeling Stuck</h5>
                                        <p class="my-0">Founders who feel as though they are plateauing and can’t break through the inflection point of $200k – $300k per month.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-7">
                        <figure data-aos="fade-left"><img src="img/section1.png" class="img-responsive" alt="ecomkey"></figure>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-light" id="contact">
          <div class="container" style="padding-top:50px!important;">
              <div class="section-heading text-center" style="margin-bottom:10px;">
                  <h2 class="bold">Schedule A Call Today</h2>
              </div>
<<<<<<< HEAD
              <!-- Calendly inline widget begin -->
              <div class="calendly-inline-widget" data-url="https://calendly.com/chrisdwmb/dwmbdiscoverycall" style="min-width:320px;height:630px;"></div>
              <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
              <!-- Calendly inline widget end -->
<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/chrisdwmb?hide_landing_page_details=1&hide_gdpr_banner=1&primary_color=6c46cf" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
>>>>>>> 09723da072d12df3c28ef32717fcc28fb5fad88b
          </div>
        </section>

        <section class="section bg-light">
            <div class="container bring-to-front">
                <div class="shadow rounded text-center gradient gradient-purple-dark p-5">
                    <h2 class="mb-5 text-contrast">Want to take the next step to scaling your revenue?</h2>
                    <p class="handwritten highlight font-md text-white">Free Google Ads Strategy For Your Business</p><a href="#contact" class="btn btn-darker btn-rounded mt-4">Book A Call</a>
                </div>
            </div>
        </section>


          <!-- <section class="seection bg-contrast" id="how">
              <div class="container bring-to-front text-center" style="padding-bottom:50px;">
                <div class="section-heading text-center" style="margin-bottom:35px;">
                    <h2 style="font-weight:bold;">Watch Demo</h2>
                    <p class="lead">Let us awnser all your questions in 1 minute and show you how Pop-In works.</p>
                </div>
                  <div class="card shadow-lg">
                            <script src="https://fast.wistia.com/embed/medias/fio29mpzhj.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_fio29mpzhj videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/fio29mpzhj/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
                  </div>
                  <a href="javascript:void( window.open( 'https://form.jotform.com/211786065446057', 'blank', 'scrollbars=yes, toolbar=no, width=700, height=500' ) ) " class="btn btn-outline-primary btn-outline mt-4" style="font-size:1.2rem; width:80%; text-align:center; font-weight:bold;">Schedule demo call with us</a>
              </div>
          </section> -->


        <footer class="site-footer section bg-light" id="contact">
            <div class="container pb-3">
                <div class="row gap-y text-center text-md-left">
                    <div class="col-md-4 mr-auto"><img src="img/logo.png" alt="" class="logo">
                        <p class="mt-3 text-muted" style="color:#868e96!important;">Contact Us: <a href="mailto:info@digitalwealthmb.com "> info@digitalwealthmb.com </a></p>
                        <p>You Profit First</p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="py-2 bold">Company</h6>
                        <nav class="nav flex-column"><a class="nav-item py-2" href="/">Home</a> <a class="nav-item py-2" href="#features">About Us</a> <a class="nav-item py-2" href="/case-study">Case Studies</a><a class="nav-item py-2" href="#team">Team</a> <a class="nav-item py-2" href="#contact">Contact</a></nav>
                    </div>
                    <!-- <div class="col-md-2">
                        <h6 class="py-2 bold">Legal</h6>
                        <nav class="nav flex-column"><a class="nav-item py-2" href="https://app.popinpass.com/Pop-In%20LLC_Terms_and_Conditions.pdf">Terms & Conditions</a><a class="nav-item py-2" href="https://app.popinpass.com/Pop-In_LLC_Privacy_Policy.pdf">Privacy Policy</a>
                    </div> -->
                </div>
                <hr class="mt-5">
                <div class="row small align-items-center">
                    <div class="col-md-4">
                        <p class="mt-2 mb-md-0 text-secondary text-center text-md-left">© 2021 Digital Wealth MB LLC. All Rights Reserved</p>
                    </div>
                    <div class="col-md-8">
                        <nav class="nav justify-content-center justify-content-md-end"><a href="https://www.facebook.com/digitalwealthmb" class="btn btn-circle btn-sm btn-secondary mr-3 op-4"><i class="fab fa-facebook"></i></a>  <a href="https://www.instagram.com/digitalwealthmb/" class="btn btn-circle btn-sm btn-secondary op-4"><i class="fab fa-instagram"></i></a></nav>
                    </div>
                </div>
            </div>
        </footer>
    </main><!-- themeforest:js -->
    <script src="js/01.cookie-consent-util.js"></script>
    <script src="js/02.1.cookie-consent-themes.js"></script>
    <script src="js/02.2.cookie-consent-custom-css.js"></script>
    <script src="js/02.3.cookie-consent-informational.js"></script>
    <script src="js/02.4.cookie-consent-opt-out.js"></script>
    <script src="js/02.5.cookie-consent-opt-in.js"></script>
    <script src="js/02.6.cookie-consent-location.js"></script>
    <script src="js/index.js"></script>
    <script src="js/noframework.waypoints.js"></script>
    <script src="js/odometer.min.js"></script>
    <script src="js/prism.js"></script>
    <script src="js/simplebar.js"></script>
    <script src="js/swiper.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="js/jquery.smartWizard.js"></script>
    <script src="js/plugins/jquery.animatebar.js"></script>
    <script src="js/feather.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/typed.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/cookieconsent.min.js"></script>
    <script src="js/counterup2.js"></script>
    <script src="js/common-script.js"></script>
    <script src="js/forms.js"></script>
    <script src="js/stripe-bubbles.js"></script>
    <script src="js/stripe-menu.js"></script>
    <script src="js/site.js"></script>
    <script src="js/03.demo.js"></script><!-- endinject -->
</body>

</html>
